<h1>Editing Comment</h1>

<%= form_for([@article, @comment]) do |f|%>
  <p>
    <%= f.label :email, "Email" %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :body, "Body" %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Update Comment"%>
  </p>
<% end %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', article_comments_path(@comment.article) %>
